textarea.sdp {
    min-width:640px;
    min-height:10em;
    display: block;
}

.system-log {
    color: blue;
    text-align: right;
}

.message {
    font-size:22px;
    margin:10px;

}

.message-subject {
    color: purple;
    background-color: #c5c5c5;
    font-weight: bold;
    padding: 5px;
    margin: 10px;
}

.message-body {
    color:black;
}

#id-info {
    border-radius: 5px;        /* CSS3草案 */
    border:solid 2px gray;
}

#id-info,#id-info > * {
    display:inline-block;
}

#id-info > * {
    display:inline-block;
}

#id-info > dt {
    width: 7.5em;
    background-color: black;
    color:#f5f5f5;
    text-align: center;
}

#id-info > dd {
    margin-left: 0px;
    background-color: white;
    color:darkblue;
    font-weight:bold;
    text-align: center;
}

#myId {
    width:3em;
}

#parentId{
    width:3em;
}

#childrenIds {
    width:5em;
}

header {
    margin:1em;
}
#id-info > dd.none {
    color:hotpink;
}